[submodule "hyprland-aurora"]
	path = hyprland-aurora
	url = https://github.com/flick0/hyprland-aurora
[submodule "enight"]
	path = enight
	url = https://github.com/end-4/enight
[submodule "garden-hyprland-theme"]
	path = garden-hyprland-theme
	url = https://github.com/taylor85345/garden-hyprland-theme
[submodule "cyber-hyprland-theme"]
	path = cyber-hyprland-theme
	url = https://github.com/taylor85345/cyber-hyprland-theme
[submodule "neon-hyprland-theme"]
	path = neon-hyprland-theme
	url = https://github.com/taylor85345/neon-hyprland-theme
[submodule "hyprland-print"]
	path = hyprland-print
	url = https://github.com/flick0/hyprland-print
